<div class="card-body">
    <form>
        <div class="row">
            <div class="col">
                <div class="mb-3"><label class="form-label" for="username"><strong>Role</strong></label>
                    <input unicorn:model.lazy="role" class="form-control" type="text" id="role" placeholder="Role" name="role"></div>
            </div>
            <div class="col">
                <div class="mb-3"><label class="form-label" for="email"><strong>Email Address</strong></label>
                    <input unicorn:model.lazy="email" class="form-control" type="email" id="email" placeholder="user@example.com" name="email"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3"><label class="form-label" for="first_name"><strong>First Name</strong></label>
                    <input unicorn:model.lazy="first_name" class="form-control" type="text" id="first_name" placeholder="John" name="first_name"></div>
            </div>
            <div class="col">
                <div class="mb-3"><label class="form-label" for="last_name"><strong>Last Name</strong></label>
                    <input unicorn:model.lazy="last_name" class="form-control" type="text" id="last_name" placeholder="Doe" name="last_name"></div>
            </div>
        </div>
        <div class="mb-3"><button unicorn:click="create" class="btn btn-primary btn-sm" type="submit">Add User</button></div>
    </form>
</div>